@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", "sans-serif";
}

:root {
  --black: #242424;
  --grey: #656565;
  --lightgrey: #f1f1f1;
  --white: #ffffff;
  --blue: #3061f4;
  --lightblue: #a5d2fa;
  --lightred:#ffa9cb;
  --lightgreen: #a9ffc4;
  --red: #ff0066;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}


button {
  outline: none;
  border: none;
}

a {
  color: var(--blue);
}

.btn {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-danger {
  background-color: var(--red);
  color: var(--white);
}

.home-layout {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
}


.review-page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-table {
  width: 100%;
  border-collapse: collapse;
}


.review-table td {
  color: var(--grey);
  padding: 0.5rem 0.75rem;
}

.review-table th {
  color: var(--black);
  background-color: var(--lightgrey);
  padding: 1rem;
}


.review-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-element,
.textarea-element {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-label {
  font-size: 1.25rem;
}

.input-element input,
.textarea-element textarea {
  border: 2px solid var(--lightgrey);
  color: var(--grey);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}



/* flash class*/
.flash-red {
  background-color: var(--lightred);
}

.flash-green {
  background-color: var(--lightgreen);
}

.flash-blue {
  background-color: var(--lightblue);
}